<html lang="en">

<head>
    <title>Synkrino</title>
    <link rel="icon" href="../static/synkrinoIcon.png" type="image/png" sizes="16x16">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../static/index.css">

    <style>
        div#loading {
            width: 100%;
            height: 100%;
            display: none;
            cursor: wait;
            background-size: contain;
            background-color: aquamarine;
            background: url('/../static/doder3.gif') no-repeat;
        }
    </style>
    <script type="text/javascript">
        function loading() {
            $("#loading").show();
            $("#content").hide();
        }
    </script>
</head>


<body>

    <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #32abff">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
                <a class="navbar-brand" href="index.html" style="color:white; font-size:30px;font-weight:bold;font-family:'Noto Sans', sans-serif; ">
                    <img alt="Brand" src="../static/synkrinoIcon.png"><a class="navbar-brand"
                        href="index.html" style="color:white; font-size:30px;font-weight:bold;font-family:'Noto Sans', sans-serif; ">Synkrino</a>
                </a>
            </div>

            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Consulting</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <form class="navbar-form navbar-left" action="/hello" method="POST" name="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for Products"
                                    name="search_item_field">
                            </div>
                            <button type="submit" class="btn btn-default" onclick="loading();">Submit</button>

                        </form>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#modalLRForm">Login/Signup</button>
                    </li>
                </ul>


            </div> -->

        </div>
    </nav>
    <br><br><!-- <br style="line-height:50%;"> -->
    <!-- Navbar ends here  -->
    <!-- The inner content starts here -->
    <!-- Carousel  -->
    <div id="loading"></div>
    <div id="content">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- 	 Indicators  -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- 			  Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <img class="center-block" src="../static/mobilePics/Apple/iphone8.jpeg" alt="Chania">
                    <div class="carousel-caption">
                        <h3>Iphone 8</h3>
                        <p>From the company that assures quality</p>
                    </div>
                </div>

                <div class="item">
                    <img class="center-block" src="../static/mobilePics/galaxyS9.jpeg" alt="Chicago">
                    <div class="carousel-caption">
                        <h3>Galaxy S9</h3>
                        <p>Latest Models!</p>
                    </div>
                </div>

                <div class="item">
                    <img class="center-block" src="../static/mobilePics/oneplus5.jpeg" alt="New York">
                    <div class="carousel-caption">
                        <h3>Oneplus 5</h3>
                        <p>The freshers is proving its mettle.</p>
                    </div>
                </div>
            </div>

            <!-- Left and right controls  -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Carousel Ends1st 50,215,255 -->
        <div class="jumbotron" style="text-align: center; background-color:rgb(50, 171, 255);">
            <h1>
                <font color="white">Synkrino - Compare. Select. Buy.</font>
            </h1>
            <p>
                <font color="white">The exciting place for comparing the commodities you buy, from various trending
                    sources
                </font>
            </p>

        </div>

<!-- Jumbotron Ends here -->

<!-- Product Pricing Form start -->
        <form action="/hello"  method="GET" name="form">
	           <!--  <div class="form-group">
	                <input type="text" class="form-control" placeholder="Search for Products">
	            </div> -->
	            <!-- <input type="submit" value="product1" onclick="document.pressed=this.value"/> -->
	            <!-- <button type="submit" name="prod_id" value="prod1" class="btn btn-default" onclick="loading();">Submit</button>
	            <button type="submit" name="prod_id" value="prod2" class="btn btn-default" onclick="loading();">Submit</button> -->

	        
     		<!-- Product Pricing table starts -->
            <div class="columns">
              <ul class="price">
                <li><img src="../static/mobilePics/galaxyS10.jpeg"/></li>
                <li class="header">Samsung S10</li> 
                <li class="grey"><button class="button" type="submit" name="prod_id" value="prod1" onclick="loading();">Explore!</button></li>
              </ul>
            </div>

            <div class="columns">
              <ul class="price">
                <li><img src="../static/mobilePics/iphoneXs.jpeg"/></li>
                <li class="header">iPhone Xs</li> 
                <li class="grey"><button class="button" type="submit" name="prod_id" value="prod2" onclick="loading();">Explore!</button></li>
              </ul>
            </div>


            <div class="columns">
              <ul class="price">
                <li><img src="../static/mobilePics/nokia6.jpg"/></li>
                <li class="header">Nokia 6.1</li> 
                <li class="grey"><button class="button" type="submit" name="prod_id" value="prod3" onclick="loading();">Explore!</button></li>
              </ul>
            </div>

            <div class="columns">
              <ul class="price">
                <li><img src="../static/mobilePics/nokia7.jpeg"/></li>
                <li class="header">Nokia 7.1</li> 
                <li class="grey"><button class="button" type="submit" name="prod_id" value="prod4" onclick="loading();">Explore!</button></li>
              </ul>
            </div>

             <div class="columns">
              <ul class="price">
                <li><img src="../static/mobilePics/huaweiP20.jpeg"/></li>
                <li class="header">Huawei P20</li> 
                <li class="grey"><button class="button" type="submit" name="prod_id" value="prod5" onclick="loading();">Explore!</button></li>
              </ul>
            </div>

	        <div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/mi6pro.jpeg"/></li>
			    <li class="header">Redmi 6 Pro</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod6" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/redmiy2.jpeg"/></li>
			    <li class="header">Redmi Y2</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod7" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/galaxynote9.jpeg"/></li>
			    <li class="header">Galaxy Note 9</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod8" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/pixel3.jpeg"/></li>
			    <li class="header">Google Pixel</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod9" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/redmiNote7.jpeg"/></li>
			    <li class="header">Redmi Note 7</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod10" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>
			
			<br>
			
			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/oppoF11.jpeg"/></li>
			    <li class="header">Oppo F11</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod11" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/vivoY93.jpeg"/></li>
			    <li class="header">Vivo Y93</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod12" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/motoG7.jpeg"/></li>
			    <li class="header">Moto G7</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod13" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/honor9.jpeg"/></li>
			    <li class="header">Honor 9 Lite</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod14" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>

			<div class="columns">
			  <ul class="price">
			    <li><img src="../static/mobilePics/motoE5.jpeg"/></li>
			    <li class="header">Moto E5</li> 
			    <li class="grey"><button class="button" type="submit" name="prod_id" value="prod15" onclick="loading();">Explore!</button></li>
			  </ul>
			</div>



		</form>

        <!--Modal: Login / Register Form-->
        <div class="modal fade" id="modalLRForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog cascading-modal" role="document">
                <!--Content-->
                <div class="modal-content">

                    <!--Modal cascading tabs-->
                    <div class="modal-c-tabs">

                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs md-tabs tabs-2 light-blue darken-3" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" data-toggle="tab" href="#panel7" role="tab"><i
                                        class="fas fa-user mr-1"></i>
                                    Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#panel8" role="tab"><i
                                        class="fas fa-user-plus mr-1"></i>
                                    Register</a>
                            </li>
                        </ul>

                        <!-- Tab panels -->
                        <div class="tab-content">
                            <!--Panel 7-->
                            <div class="tab-pane fade in show active" id="panel7" role="tabpanel">

                                <!--Body-->
                                <div class="modal-body mb-1">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fas fa-envelope prefix"></i>
                                        <input type="email" id="modalLRInput10"
                                            class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput10">Your
                                            email</label>
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="modalLRInput11"
                                            class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput11">Your
                                            password</label>
                                    </div>
                                    <div class="text-center mt-2">
                                        <button class="btn btn-info">Log in <i class="fas fa-sign-in ml-1"></i></button>
                                    </div>
                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                    <div class="options text-center text-md-right mt-1">
                                        <p>Not a member? <a href="#" class="blue-text">Sign Up</a></p>
                                        <p>Forgot <a href="#" class="blue-text">Password?</a></p>
                                    </div>
                                    <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                        data-dismiss="modal">Close</button>
                                </div>

                            </div>
                            <!--/.Panel 7-->

                            <!--Panel 8-->
                            <div class="tab-pane fade" id="panel8" role="tabpanel">

                                <!--Body-->
                                <div class="modal-body">
                                    <div class="md-form form-sm mb-5">
                                        <i class="fas fa-envelope prefix"></i>
                                        <input type="email" id="modalLRInput12"
                                            class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput12">Your
                                            email</label>
                                    </div>

                                    <div class="md-form form-sm mb-5">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="modalLRInput13"
                                            class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput13">Your
                                            password</label>
                                    </div>

                                    <div class="md-form form-sm mb-4">
                                        <i class="fas fa-lock prefix"></i>
                                        <input type="password" id="modalLRInput14"
                                            class="form-control form-control-sm validate">
                                        <label data-error="wrong" data-success="right" for="modalLRInput14">Repeat
                                            password</label>
                                    </div>

                                    <div class="text-center form-sm mt-2">
                                        <button class="btn btn-info">Sign up <i
                                                class="fas fa-sign-in ml-1"></i></button>
                                    </div>

                                </div>
                                <!--Footer-->
                                <div class="modal-footer">
                                    <div class="options text-right">
                                        <p class="pt-1">Already have an account? <a href="#" class="blue-text">Log
                                                In</a>
                                        </p>
                                    </div>
                                    <button type="button" class="btn btn-outline-info waves-effect ml-auto"
                                        data-dismiss="modal">Close</button>
                                </div>
                            </div>
                            <!--/.Panel 8-->
                        </div>

                    </div>
                </div>
                <!--/.Content-->
            </div>
        </div>
    </div>


    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script> -->
</body>

</html>
