<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">  
<link rel="stylesheet" type="text/css" href="../static/price.css">
</head>
<body>

<h2 style="text-align:center">Synkrino</h2>
<p style="text-align:center">We scraped out these resuts for you in about <span style="color:rgb(42, 149, 236)">{{scraper_run_time}}</span> seconds.</p>

<div class="columns">
  <ul class="price">
    <li class="header">AMAZON</li>
    <!-- <li class="grey">$ 9.99 / year</li>
    <li>10GB Storage</li> -->
    <li><img src="../static/amazon.png"/></li>
    <li class="grey">{{amazon_price}}</li>
    <!-- <li>10 Emails</li>
    <li>10 Domains</li>
    <li>1GB Bandwidth</li> -->
    <li class="grey"><a href="{{amazon_url}}" class="button">Buy Now</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" >FLIPKART</li>
    <!-- <li class="grey">$ 24.99 / year</li>
    <li>25GB Storage</li> -->
    <li><img src="../static/flipkart.png"/></li>
    <li class="grey">{{flipkart_price}}</li>
    <!-- <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li> -->
    <li class="grey"><a href="{{ flipkart_url }}" class="button">Buy Now</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" >PAYTM MALL</li>
    
    <!-- <li>50GB Storage</li> -->
    <li><img src="../static/paytm.png"/></li>
    <li class="grey">{{paytm_mall_price}}</li>
    <!-- <li>50 Emails</li>
    <li>50 Domains</li>
    <li>5GB Bandwidth</li> -->
    <li class="grey"><a href="{{paytm_mall_url}}" class="button">Buy Now</a></li>
  </ul>
</div>

<div style="text-align: center">
    <p style="font-size:18px;font-family:'Noto Sans', sans-serif; color:rgb(58, 54, 54)">Want to try another search?</p>
  </div>
<div class="back_home">
    <p><a href="/">Go back to home</a></p>
  </div>
</body>
</html>
