<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Noto+Sans" rel="stylesheet">  
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="../static/price.css">
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top" style="background-color: #32abff">
        <div class="container">
            <div class="navbar-header">
                <!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button> -->
                <a class="navbar-brand" href="index.html" style="color:white; font-size:30px;font-weight:bold;font-family:'Noto Sans', sans-serif; ">
                    <img alt="Brand" src="../static/synkrinoIcon.png"><a class="navbar-brand"
                        href="index.html" style="color:white; font-size:30px;font-weight:bold;font-family:'Noto Sans', sans-serif; ">Synkrino</a>
                </a>
            </div>

            <!-- <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">About</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true"
                            aria-expanded="false">Services<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#">Design</a></li>
                            <li><a href="#">Development</a></li>
                            <li><a href="#">Consulting</a></li>
                        </ul>
                    </li>
                    <li><a href="#">Contact</a></li>
                    <li>
                        <form class="navbar-form navbar-left" action="/hello" method="POST" name="form">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Search for Products"
                                    name="search_item_field">
                            </div>
                            <button type="submit" class="btn btn-default" onclick="loading();">Submit</button>

                        </form>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default" data-toggle="modal"
                            data-target="#modalLRForm">Login/Signup</button>
                    </li>
                </ul>


            </div> -->

        </div>
    </nav>
    <br><br><br><!-- <br style="line-height:50%;"> -->
    <!-- Navbar ends here  -->
    <!-- The inner content starts here -->

<p style="text-align:center">We scraped out these resuts for you in about <span style="color:rgb(42, 149, 236)">{{scraper_run_time}}</span> seconds.</p>

<div class="columns">
  <ul class="price">
    <li class="header">AMAZON</li>
    <!-- <li class="grey">$ 9.99 / year</li>
    <li>10GB Storage</li> -->
    <li><img src="../static/amazon.png"/></li>
    <li class="grey1">{{amazon_price}}</li>
    <!-- <li>10 Emails</li>
    <li>10 Domains</li>
    <li>1GB Bandwidth</li> -->
    <li class="grey"><a href="{{amazon_url}}" class="button">Buy Now</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" >FLIPKART</li>
    <!-- <li class="grey">$ 24.99 / year</li>
    <li>25GB Storage</li> -->
    <li><img src="../static/flipkart.png"/></li>
    <li class="grey1">{{flipkart_price}}</li>
    <!-- <li>25 Emails</li>
    <li>25 Domains</li>
    <li>2GB Bandwidth</li> -->
    <li class="grey"><a href="{{ flipkart_url }}" class="button">Buy Now</a></li>
  </ul>
</div>

<div class="columns">
  <ul class="price">
    <li class="header" >PAYTM MALL</li>
    
    <!-- <li>50GB Storage</li> -->
    <li><img src="../static/paytm.png"/></li>
    <li class="grey1">{{paytm_mall_price}}</li>
    <!-- <li>50 Emails</li>
    <li>50 Domains</li>
    <li>5GB Bandwidth</li> -->
    <li class="grey"><a href="{{paytm_mall_url}}" class="button">Buy Now</a></li>
  </ul>
</div>

<div style="text-align: center">
    <p style="font-size:18px;font-family:'Noto Sans', sans-serif; color:rgb(58, 54, 54)">Want to try another search?</p>
  </div>
<div class="back_home" style="text-align: center;">
    <p><a href="/">Go back to home</a></p>
  </div>
  <br>
</body>
</html>
