<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Prices</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/price_beauty_layout.css">
</head>

<body>
  <div >
    We scraped these results for you in about {{scraper_run_time}} seconds.
  </div>
  <div class="background">
    <div class="container">
      <div class="panel pricing-table">

        <div class="pricing-plan">
          <img src="../static/amazon.svg" alt="" class="pricing-img">
          <h2 class="pricing-header">AMAZON</h2>
          <!--         <ul class="pricing-features">
          <li class="pricing-features-item">Custom domains</li>
          <li class="pricing-features-item">Sleeps after 30 mins of inactivity</li>
        </ul> -->
          <span class="pricing-price">{{amazon_price}}</span>
          <a href="{{amazon_url}}" class="pricing-button">Buy Now</a>
        </div>

        <div class="pricing-plan">
          <img src="../static/flipkart.svg" alt="" class="pricing-img">
          <h2 class="pricing-header">FLIPKART</h2>
          <!--         <ul class="pricing-features">
          <li class="pricing-features-item">Never sleeps</li>
          <li class="pricing-features-item">Multiple workers for more powerful apps</li>
        </ul> -->
          <span class="pricing-price">{{flipkart_price}}</span>
          <a href="{{flipkart_url}}" class="pricing-button">Buy Now</a>
        </div>

        <div class="pricing-plan">
          <img src="../static/paytm.svg" alt="" class="pricing-img">
          <h2 class="pricing-header">PAYTM MALL</h2>
          <!--         <ul class="pricing-features">
          <li class="pricing-features-item">Dedicated</li>
          <li class="pricing-features-item">Simple horizontal scalability</li>
        </ul> -->
          <span class="pricing-price">{{paytm_mall_price}}</span>
          <a href="{{paytm_mall_url}}" class="pricing-button">Buy Now</a>
        </div>

      </div>
    </div>
  </div>

  <p><a href="/">Back to home</a></p>
  
</body>

</html>
