<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Prices</title>
</head>
<body>
    <p style="color:blue">Amazon price is ({{amazon_price}})</p>
    <p style="color:brown">Flipkart price is ({{flipkart_price}})</p>
    <div style="font-size: 2em">
        Running time of entire scraper = ({{scraper_run_time}})
    </div>
    <p><a href="/">Back to home</a></p>
</body>
</html>
