<html lang="en">
<head>
  <title>Synkrino</title>
  <link rel="icon" href="synkrinoIcon.png" type="image/png" sizes="16x16">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>


<body>
	
	<nav class="navbar navbar-inverse navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button> -->
				<a class="navbar-brand" href="index.html">
	        		<img alt="Brand" src="../static/synkrinoIcon.png" ><a class="navbar-brand" href="index.html">Synkrino</a>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-hover" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Services<span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#">Design</a></li>
							<li><a href="#">Development</a></li>
							<li><a href="#">Consulting</a></li>
						</ul>
					</li>
					<li><a href="#">Contact</a></li>
					<li>
						<form class="navbar-form navbar-left" action="/hello" method="POST" name="form">
					      <div class="form-group">
					        <input type="text" class="form-control" placeholder="Search for Products" name="search_item_field">
					      </div>
					      <button type="submit" class="btn btn-default" >Submit</button>

					    </form>
					</li>
					<li>
					     <button type="button" class="btn btn-default" data-toggle="modal" data-target="#modalLRForm" >Login/Signup</button>
					</li>
				</ul>


			</div>

		</div>
	</nav> 
	<!-- Navbar ends here  -->